# --- Core Project Configuration ---
PROJECT_ID=""
REGION=""

# --- Data Agent Configuration ---
LOCATION=""
DATA_AGENT_ID=""

# --- Logging Configuration ---
LOG_NAME=""

# --- SDK & Telemetry Configuration ---
GOOGLE_GENAI_USE_VERTEXAI=""
GOOGLE_CLOUD_AGENT_ENGINE_ENABLE_TELEMETRY=""
OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT=""
