google-cloud-aiplatform
google-cloud-storage
google-cloud-logging
google-adk
google-adk[eval]
a2a-sdk
requests
gcsfs
pypdf
matplotlib
numpy
pandas
scikit-learn
fsspec
tabulate
PyYAML
opentelemetry-exporter-gcp-trace
google-cloud-secret-manager
